<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    {% block content %}
        <h1>Welcome to Shawn's Library</h1>
        <h2>Add Publisher</h2>
        <form action="add_publisher" method="post">
            Enter publisher name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="text" name="publisher_name" id="publisher_input" required/>
            <br>
            <br>
            Enter location:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="text" name="location" id="location_input" required/>
        <br>
        <br>
        <input type="submit" />&nbsp;<button onclick="history.back()">↢ Go Back</button>
        {% csrf_token %}
        </form>
        <br>
        <button onclick='http://{{ request.get_host }}/app/view_publishers'>View All Publishers</button>
        <br>
        <br>
    {% endblock %}
</body>
</html>