<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{{ status }}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    {{ result }}
    <br>
    <br>
    <br>
    <a href='http://{{ request.get_host }}'>Home</a>
    <br>
    <a href='http://{{ request.get_host }}/app/get_book'>Search Book by Title</a>
    <br>
    <script>
        function goHome(request) {
            window.location.href = 'http://{{ request.get_host }}'
        }
        function searchBookByTitle() {
            window.location.href = 'http://{{ request.get_host }}/app/get_book'
        }
    </script>
</body>
</html>