<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Welcome to Shawn's Library</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <h1>Welcome to Shawn's Library</h1>
    <button onClick="getAllBooks()">View all books</button>&nbsp;
    <button onClick="addBook()">Add a Book</button>&nbsp;
    <button onClick="getBookByName()">Search book by title</button>&nbsp;
    <button onClick="deleteBook()">Delete a book</button>&nbsp;
    <br>
    <br>
    <button onClick="viewAllPublishers()">View all publishers</button>&nbsp;
    <button onClick="addPublisher()">Add a Publisher</button>&nbsp;
    <button onClick="deletePublisher()">Delete a publisher</button>&nbsp;
    <script>
        function getAllBooks() {
            window.location.href = 'http://{{ request.get_host }}/app/get_books_view'
        }
        function addBook() {
            window.location.href = 'http://{{ request.get_host }}/app/add_book_view'
        }
        function getBookByName() {
            window.location.href = 'http://{{ request.get_host }}/app/get_book'
        }
        function deleteBook() {
            window.location.href = 'http://{{ request.get_host }}/app/delete_book_view'
        }
        function viewAllPublishers() {
            window.location.href = 'http://{{ request.get_host }}/app/get_publishers_view'
        }
        function addPublisher() {
            window.location.href = 'http://{{ request.get_host }}/app/add_publisher_view'
        }
        function deletePublisher() {
            window.location.href = 'http://{{ request.get_host }}/app/delete_publisher_view'
        }
    </script>
</body>
</html>