<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Welcome to Shawn's Library</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    Welcome to Shawn's Library
    <br>
    <br>
    <button onClick="getAllBooks()">Click here to view all books</button> &nbsp;
    <button onClick="getBookByName()">Click here to search book by title</button>
    <script>
        function getAllBooks() {
            window.location.href = 'http://{{ request.get_host }}/app/get_books'
        }
        function getBookByName() {
            window.location.href = 'http://{{ request.get_host }}/app/get_book'
        }
    </script>
</body>
</html>